[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "external/rl_tools"]
	path = external/rl_tools
	url = git@github.com:donghun-han/rl_tools.git
